
.graphs{
  margin-top:25px;
}
.recharts-text > tspan{
  font-size: 12px;

}
.recharts-cartesian-axis-tick{
  background-color: pink;
  width: 1px !important;
  word-wrap: break-word !important;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
}
